.footer {
  padding: 1rem;
  border-top: solid 1px hsl(0, 0%, 30%);
  background-color: black;
  color: white;
}

.footer > p {
  text-transform: uppercase;
  font-size: var(--fs-lg);
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
  margin-bottom: 1.5rem;
}

.footerColumn {
  display: flex;
  /* padding: 1rem; */
  justify-content: space-between;
  /* gap: 3rem; */
}

.footerContact > p {
  /* margin-bottom: 1rem; */
  color: hsl(0, 0%, 30%);
}

.footerSocials {
  display: grid;
  gap: 1rem;
  /* margin-bottom: 1rem; */
  color: hsl(0, 0%, 30%);
}

.footerSocials > *:hover {
  color: white;
  cursor: pointer;
}

.footer > p {
  /* margin-bottom: 2rem; */
}