.footer {
  padding: 1rem;
  border-top: solid 1px hsl(0, 0%, 30%);
  background-color: black;
  color: white;
}

.footer > p {
  text-transform: uppercase;
  font-size: var(--fs-lg);
  text-align: center;
  font-weight: var(--fw-bold);
  letter-spacing: 5px;
  margin-bottom: 1.5rem;
}

.footerColumn {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
  place-items: center;
  /* padding: 1rem; */
  /* justify-content: space-between; */
  gap: 1rem;
}

.footerContact > p {
  /* margin-bottom: 1rem; */
  color: hsl(0, 0%, 70%);
  font-weight: var(--fw-light);
}

.footerSocials {
  display: grid;
  gap: 1rem;
  /* margin-bottom: 1rem; */
  color: hsl(0, 0%, 70%);
  font-weight: var(--fw-light);
}

.footerSocials > *:hover {
  color: white;
  cursor: pointer;
}

.footer > p {
  /* margin-bottom: 2rem; */
}