@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.homePage {
  min-height: 100vh;
  background-color: black;
  color: white;
  font-family: "Noto Sans", serif;
}

.homePage > section {
  padding-inline: 1rem;
  padding-block: 4rem;
}

/* ---------------LOGO--------------- */

.logoContainer {
  display: flex;
  justify-content: center;
}

.logoContainer > img{
  border-radius: 50%;
  object-fit: cover;
  width: 100px;
  height: 100px;
}

/* ----------------NAV--------------- */

.searchBarContainer {
  /* background-color: red; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.trio {
  text-transform: uppercase;
  font-weight: var(--fw-black);
  font-size: var(--fs-md);
  color: hsl(45, 100%, 50%);

}

.headerSearchbar {
  padding: 0.5rem;
  width: 60%;
  /* background-color: hsl(0, 0%, 70%); */
  border: none;
  border-radius: 0.5rem;
}

.nav {
  display: flex;
  justify-content: space-around;
  border-bottom: solid 1px hsl(0, 0%, 30%);
  position: sticky;
  top: 0;
  z-index: 99999;
  background-color: black;
}

.nav > a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  color: white;
  width: 100%;
  text-align: center;
  padding: 1em;
}

.nav > a:hover {
  cursor: pointer;
  box-shadow: 0 2px 0 white;
}

/* ---------------LOGO TEXT---------------- */

.title {
  /* margin-top: 1rem; */
}

.titleTextContainer {
  /* margin-bottom: 2rem; */
}

.titleText {
  font-weight: var(--fw-black);
  font-size: var(--fs-md);
  line-height: 1.4;
  text-align: center;
  /* margin-inline: auto; */
  padding: 0;
  color: hsl(45, 100%, 50%);
  /* letter-spacing: 0.1em; */
  /* overflow: hidden;
  white-space: nowrap; */
  /* border-right: 1px solid white; */
  /* animation: typing 3s steps(10) forwards,
  blink 1s step-end infinite; */

  background-image: linear-gradient(90deg,
  hsl(45, 100%, 40%) 30%,  /* Yellow starts early and fades */
  blue 50%,                /* Blue blends in the middle */
  purple 70%
   );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientAnimation 4s infinite linear alternate;
}

.titleTextContainer > p {
  text-align: center;
  font-size: var(--fs-lg);
  line-height: 1.4;
  font-weight: var(--fw-black);
  /* word-spacing: 0.25rem; */


}

@keyframes gradientAnimation {
  0% { background-position: 0% 0%; }
  /* 50% { background-position: 100% 50%; } */
  100% { background-position: 100% 0%; }
}

/* @keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 12ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
} */

/* ----------------SERVICES PROVIDED-------------- */

.servicesSection {
  padding-block: 1px !important;
  padding-bottom: 4rem !important;
}

.servicesList {
  list-style: none;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1000ms ease-out forwards;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  justify-content: center;
  gap: 1rem;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px); /* Start from slightly below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at normal position */
  }
}


.servicesList > li {
  text-align: center;
  padding: 1rem;
  /* background-color: hsl(0, 0%, 10%); */
  border: hsl(0, 0%, 20%) 0.5px solid;
  box-shadow: 0px 15px 25px hsla(0, 0%, 20%, 0.3);

}

.servicesList > li:hover {
  /* box-shadow: 0px 15px 25px rgba(218, 165, 32, 0.3); */

}

.servicesList > li:first-child {
  font-family: "Libre Baskerville", serif;
  transition: color 0.3s ease;
  /* background-color: goldenrod; */

}

.servicesList > li:first-child:hover {
  /* background-color: goldenrod; */
  background: radial-gradient(circle, #DAA520 20%, #000 70%);
  box-shadow: 0px 15px 25px rgba(218, 165, 32, 0.3);

  /* color: black; */
}

.servicesList >li:nth-child(2) {
  font-family: "Merriweather", serif;
  /* box-shadow: 0px 15px 25px rgba(218, 165, 32, 0.3); */

  /* transition: background-color 0.3s ease; */
  /* background-color: blue; */
}

.servicesList >li:nth-child(2):hover {
  box-shadow: 0px 15px 25px rgba(25, 90, 200, 0.3);

}

/* .servicesList >li:nth-child(2):hover {
  background-color: blue;
} */

.servicesList > li:last-child {
  font-family: "Inter", serif;
  /* transition: background-color 0.3s ease; */
  /* background-color: purple; */

}

.servicesList > li:last-child:hover {
  /* background-color: purple; */
  box-shadow: 0px 15px 25px rgba(128, 0, 255, 0.3);

}

.servicesList > li > a {
  text-decoration: none;
  /* border: solid yellow; */
  color: inherit;
  font-weight: var(--fw-bold);
  /* flex-grow: 1; */
  display: grid;
  gap: 1.5rem;
  /* align-items: center;
  flex-direction: column;
  justify-content: center; */
  transition: transform 0.3s ease;
}

.servicesList > li > a:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.law, .education, .tech {
  /* border: solid 1px hsl(0, 0%, 30%); */
  border-radius: .5rem;
}

.lawImageContainer img, .educationImageContainer img, .techImageContainer img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.lawText > h3, .educationText > h3, .techText > h3 {
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  line-height: 1.4;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.lawText  > p, .techText  > p, .educationText > p {
  font-size: var(--fs-sm);
  color: hsl(0, 0%, 70%);
  font-weight: var(--fw-light);
}

.law > a > button {
  padding: 0.75em 1.25em;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  /* background-color: goldenrod; */
  /* background-color: black; */
  background-color: hsl(45, 100%, 40%);

  border: none;
  /* border: solid hsl(0, 0%, 60%) 1px; */
  /* border: solid hsl(45, 100%, 50%) 1px; */
  letter-spacing: 1px;


  border-radius: .25rem;
  color: white;
  cursor: pointer;
}

.education > a > button {
  padding: 0.75em 1.25em;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  /* background-color: blue; */
  background-color: blue;
  border: none;
  /* border: solid hsl(0, 0%, 60%) 1px; */
  /* border: solid hsl(45, 100%, 50%) 1px; */
  letter-spacing: 1px;


  border-radius: .25rem;
  color: white;
  cursor: pointer;
}

.tech > a > button {
  padding: 0.75em 1.25em;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  /* background-color: purple; */
  /* background-color: black; */
  /* background-color: hsl(45, 100%, 50%); */
  background-color: purple;

  border: none;
  /* border: solid hsl(0, 0%, 60%) 1px; */
  /* border: solid hsl(45, 100%, 50%) 1px; */
  letter-spacing: 1px;
  border-radius: .25rem;
  color: white;
  cursor: pointer;
}

.serviceCTA:hover {
  /* background-color: hsl(45, 100%, 50%); */
}


/* ----------------BLOGS and ARTICLE-------------- */

.blogArticles {
  background-color: white;
  color: black;

}

.blogArticlesTitle {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  line-height: 1.4;
  margin-bottom: 3rem;
  text-align: center;
}

.blogArticleWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(275px, 100%), 1fr));
  gap: 2rem;
  margin-bottom: 1rem;
}

.blogArticle {
  /* display: flex; */
  margin-bottom: 1rem;
  cursor: pointer;
  /* background-color: hsl(0, 0%, 10%); */
  border-radius: 0.5rem;
  border: 0.5px solid hsl(0, 0%, 80%);
  box-shadow: 0px 10px 20px hsla(0, 0%, 20%, 0.3);

}

.blogArticle:hover{
  /* box-shadow: 0px 10px 20px hsla(0, 0%, 20%, 0.3); */

}

.articleDetails {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.authorImg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: goldenrod;
}

.blogArticle:nth-child(odd) {
  flex-direction: row-reverse;
}

.blogArticleImageContainer {
  /* border-radius: 0.5rem; */
}

.blogArticleImageContainer > img {
  /* border-radius: .5rem; */
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;

}

.blogArticleText {
  padding: 0.5rem;
  display: grid;
}

.blogArticleText > h3 {
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  line-height: 1.4;
  margin-bottom: .5rem;
}

.blogArticleText > p {
  color: hsl(0, 0%, 30%);
  font-weight: var(--fw-light);
  margin-bottom: 1rem;
  font-size: var(--fs-sm);
}

.blogArticleButton {
  padding: .75em 1.25em;
  border: none;
  border-radius: 0.5rem;
  /* background-color: goldenrod; */
  /* background-color: black; */
  background-color: hsl(45, 100%, 50%);
  /* background-color: white; */

  color: hsl(0, 0%, 100%);
  /* border: solid 1px hsl(0, 0%, 60%); */
  /* border: solid hsl(45, 100%, 50%) 1px; */

  cursor: pointer;
  text-transform: capitalize;
  font-weight: var(--fw-bold);
}

.blogArticleButton:hover {
  background-color: hsl(45, 100%, 40%);

}

.blogArticle2{
  display: grid;
  /* grid-template-columns: 1fr 2fr; */
  /* border: 1px hsl(0, 0%, 80%) solid; */
  border-radius: 0.5rem;

}

.blogArticleText2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  /* padding-inline: 1rem; */
  padding: 1rem;
  /* border: solid black 1px; */
  width: 70%;
}

.blogArticleText2 > h3 {
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  line-height: 1.4;
}

.blogArticleText2 > p {
  color: hsl(0, 0%, 70%);
  font-size: var(--fs-lg);
  font-weight: var(--fw-light);
}

.author {
  display: flex;
  gap: 1rem;
}

.authorName {
  font-weight: var(--fw-bold);
}

.authorProfession {
  color: hsl(0, 0%, 30%);
  font-weight: var(--fw-light);
  font-size: var(--fs-sm);
}

.publishDate {
  color: hsl(0, 0%, 30%);
  font-weight: var(--fw-light);
  font-size: var(--fs-sm);
}

.blogArticles3 {
  display: flex;
  margin-bottom: 1rem;
  /* justify-content: center; */
  /* align-items: center; */
}

.blogArticles3 > div > img {
  width: 300ox;
  height: 200px;
}

.articleTags {
  display: flex;
  gap: .5rem;
  flex-grow: 0;
}


.articleTags > p {
  background-color: hsl(0, 0%, 70%);
  border-radius: .25rem;
  padding:.25rem;
  font-weight: var(--fw-light);
}

.a {
  padding: 1rem;
  /* display: grid; */

}

.a > div {
  margin-bottom: 1rem;

}

.a > h3 {
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
}

.a > p {
  color: hsl(0, 0%, 30%);
  margin-bottom: 1rem;
}

.a > svg {
  fill: hsl(45, 100%, 50%);
}

.a > svg:hover {
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
}