@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.homePage {
  min-height: 100vh;
  /* padding: 1rem; */
  background-color: black;
  color: white;
  font-family: "Noto Sans", serif;
}

.homePage > section {
  padding: 1rem;
}

/* logo styles */

.logoContainer img{
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin-bottom: 1rm;
}

/* ----------------NAV--------------- */

.nav {
  display: flex;
  justify-content: space-around;
  /* margin-bottom: 3rem; */
  border-bottom: solid 1px hsl(0, 0%, 30%);
  position: sticky;
  top: 0;
  z-index: 99999;
  background-color: black;
}

.nav > a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  color: white;
  width: 100%;
  text-align: center;
  padding: 1em;
}

.nav > a:hover {
  cursor: pointer;
  box-shadow: 0 2px 0 white;
}

/* logo description */

.title {
  margin-top: 1rem;
}

.titleTextContainer {
  margin-bottom: 2rem;
}

.titleText {
  font-weight: var(--fw-bold);
  font-size: var(--fs-lg);
  text-align: center;
  /* margin-inline: auto; */
  padding: 0;
  color: gold;
  letter-spacing: 0.1em;
  /* overflow: hidden;
  white-space: nowrap; */
  /* border-right: 1px solid white; */
  /* animation: typing 3s steps(10) forwards,
  blink 1s step-end infinite; */
}

.titleTextContainer > p {
  text-align: center;
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  word-spacing: 0.25rem;
}

/* @keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 12ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
} */

/* services provided */

.servicesList {
  list-style: none;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1000ms ease-out forwards;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 1rem;
  /* min-height: 80vh; */
  /* margin-block: 3rem; */
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px); /* Start from slightly below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at normal position */
  }
}


.servicesList > li {
  text-align: center;
  padding: 1rem;
}

.servicesList > li:first-child {
  font-family: "Libre Baskerville", serif;
  /* transition: background-color 0.3s ease; */
  /* background-color: goldenrod; */

}

/* .servicesList > li:first-child:hover {
  background-color: goldenrod;
  color: black;
} */

.servicesList >li:nth-child(2) {
  font-family: "Slabo 27px", serif;
  /* transition: background-color 0.3s ease; */
  /* background-color: blue; */

}

/* .servicesList >li:nth-child(2):hover {
  background-color: blue;
} */

.servicesList > li:last-child {
  font-family: "Inter", serif;
  /* transition: background-color 0.3s ease; */
  /* background-color: purple; */

}

/* .servicesList > li:last-child:hover {
  background-color: purple;
} */

.servicesList > li > a {
  text-decoration: none;
  /* border: solid yellow; */
  color: inherit;
  font-weight: bold;
  /* flex-grow: 1; */
  display: grid;
  gap: 1.5rem;
  /* align-items: center;
  flex-direction: column;
  justify-content: center; */
  transition: transform 0.3s ease;
}

.servicesList > li > a:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

/* .servicesList > li > a > div > p{
  font-size: 1rem;
  color: hsl(0, 0%, 60%);
  margin-block: 1rem;
} */

.law, .education, .tech {
  border: solid 1px;
  border-radius: .5rem;
  /* padding: 1rem; */
}

.lawImageContainer img, .educationImageContainer img, .techImageContainer img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.lawText > h3, .educationText > h3, .techText > h3 {
  font-size: var(--fs-md);
}

.lawText  > p, .techText  > p, .educationText > p {
  font-size: 1rem;
  color: hsl(0, 0%, 60%);
}

.law > a > button {
  padding: 0.75em 1.25em;
  text-transform: capitalize;
  font-weight: var(--fw-bold);
  background-color: goldenrod;
  border: none;
  /* border: solid hsl(0, 0%, 60%) 1px; */
  border-radius: .25rem;
  color: white;
  cursor: pointer;
}

.education > a > button {
  padding: 0.75em 1.25em;
  text-transform: capitalize;
  font-weight: var(--fw-bold);
  background-color: blue;
  border: none;
  /* border: solid hsl(0, 0%, 60%) 1px; */
  border-radius: .25rem;
  color: white;
  cursor: pointer;
  word-spacing: 5px;
}

.tech > a > button {
  padding: 0.75em 1.25em;
  text-transform: capitalize;
  font-weight: var(--fw-bold);
  background-color: purple;
  border: none;
  /* border: solid hsl(0, 0%, 60%) 1px; */
  border-radius: .25rem;
  color: white;
  cursor: pointer;
}


/* ----------------BLOGS and ARTICLE-------------- */

.blogArticlesTitle {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  /* border-bottom: 1px solid white; */
  margin-bottom: 3rem;
  text-align: center;
}

.blogArticleWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  margin-bottom: 1rem;
}

.blogArticle {
  /* display: flex; */
  margin-bottom: 1rem;
  cursor: pointer;
  /* border: solid 1px; */
}

.articleDetails {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.authorImg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: goldenrod;
}

.blogArticle:nth-child(odd) {
  flex-direction: row-reverse;
}

.blogArticleImageContainer > img {
  border-radius: .5rem;
}

.blogArticleText {
  padding: 1rem;
}

.blogArticleText > h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

.blogArticleText > p {
  color: hsl(0, 0%, 60%);
}

.blogArticleButton {
  padding: .75em 1.25em;
  border: none;
  border-radius: 2.5rem;
  background-color: black;
  color: white;
  border: solid 1px white;
  cursor: pointer;
  text-transform: capitalize;
}

.blogArticleButton:hover {
  background-color: limegreen;
}

.blogArticle2{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* align-items: center; */
}

.blogArticleText2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.blogArticleText2 > h3 {
  font-size: var(--fs-lg);
}

.blogArticleText2 > p {
  color: hsl(0, 0%, 60%);
}

.author {
  display: flex;
  gap: 1rem;
}

.authorProfession {
  color: hsl(0, 0%, 60%);
}

.publishDate {
  color: hsl(0, 0%, 60%);
}
