.aside {
  /* border: solid; */
  /* display: flex;
  flex-direction: column; */
  text-transform: uppercase;
}

.nestedSidebarNavlist {
  /* border: solid; */
  background-color: white;
  color: black;
  cursor: pointer;
}

.sidebarActive, .nestedSidebarNav, .nestedSidebarNavlist {
  display: none;
}

.nestedSidebarNav:checked ~ .nestedSidebarNavlist {
  display: block;
}

.nestedSidebarNav:checked + label > svg {
  fill: hsl(45, 100%, 50%);
}

.sidebarNav {
  display: none;
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  /* padding: 1rem; */
  list-style: none;
  background-color: black;
  width: 350px;
}

.sidebarActive:checked ~ .sidebarNav {
  display: block;
  height: 100vh;
}

.openSidebarButton, .closeSidebarButton {
  cursor: pointer;
  /* border: solid; */
}

.sidebarNavItem > label {
  display: flex;
  /* border: solid; */
  align-items: center;
  padding: 0.5em;
  gap: 0.5rem;
}

.sidebarNavItem > label > span {
  margin-right: auto;
}

.sidebarNavItem > label:hover svg {
  fill: hsl(45, 100%, 50%);
}